body {
	font-family: Poppins;
}

.navbar-brand
{
	font-weight: bold;
}

.nav-link
{
	font-size: .9rem;
	color: #0A0A0A!important;
	font-weight: normal;
}

.text-search, .button-search
{
	border: #6F42C1;
	background-color: transparent;
}

.text-search
{
	font-size: .9rem;
	width: 200px!important;
}

svg
{
	color: #8C3DCE!important;
}

.home
{
	text-decoration: underline;
	border-radius: 0;
	color: black;!important;
}

.carousel-indicators li 
{
	width: 10px;
	height: 10px;
	background-color: gray;
	border-radius: 50%;
}

.navbar-fixed-top.scrolled
{
	background-color: #fff;
	opacity: 1;
	box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
	transition: background-color 1000ms linear;
}

.navbar
{
	background-color: #fff;
	opacity: 0.7;
}

.top-content {
  width: 100%;
  padding: 0;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

.top-content .carousel-control-prev {
  border-bottom: 0;
}

.top-content .carousel-control-next {
  border-bottom: 0;
}

.top-content .carousel-caption {
  padding-bottom: 60px;
}

.top-content .carousel-caption h1 {
  padding-top: 60px;
  color: #fff;
}

.top-content .carousel-caption h3 {
  color: #fff;
}

.top-content .carousel-caption .carousel-caption-description {
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
}

.top-content .carousel-indicators li {
  width: 16px;
  height: 16px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 50%;
}
		
.btn-cart {
	background-color: #000000;
	border-radius: 20px;
	width: 140px!important;
}

.footer-link {
	opacity: 0.8;
}

.horizontal-line {
	border-top: 1px solid white
}

.scroll {
  color: #fff;
  margin-top: 100px
}

#toTopBtn {
  position: fixed;
  bottom: 26px;
  right: 39px;
  z-index: 98;
  padding: 21px;
  background-color: hsla(0, 0%, 10%, 1);
  border-radius: 5px
}

.js .cd-top--fade-out {
  opacity: .5
}

.js .cd-top--is-visible {
  visibility: visible;
  opacity: 1
}

.js .cd-top {
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s, visibility .3s, background-color .3s
}

.cd-top {
  position: fixed;
  bottom: 20px;
  bottom: var(--cd-back-to-top-margin);
  right: 20px;
  right: var(--cd-back-to-top-margin);
  display: inline-block;
  height: 40px;
  height: var(--cd-back-to-top-size);
  width: 40px;
  width: var(--cd-back-to-top-size);
  box-shadow: 0 0 10px rgba(0, 0, 0, .05) !important;
  background: url(https://res.cloudinary.com/dxfq3iotg/image/upload/v1571057658/cd-top-arrow.svg) no-repeat center 50%;
  background-color: hsla(5, 76%, 62%, .8);
  background-color: hsla(var(--cd-color-3-h), var(--cd-color-3-s), var(--cd-color-3-l), 0.8)
}

/* Sign-up */
.form-control, .form-control:focus, .input-group-addon {
	border-color: #e1e1e1;
	border-radius: 0;
}

.signup-form {
	width: 390px;
	margin: 0 auto;
	padding: 30px 0;
}

.signup-form h2 {
	color: #636363;
	margin: 0 0 15px;
	text-align: center;
}

.signup-form .lead {
	font-size: 14px;
	margin-bottom: 30px;
	text-align: center;
}

.signup-form form {		
	border-radius: 1px;
	margin-bottom: 15px;
	background: #fff;
	border: 1px solid #f3f3f3;
	box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
	padding: 30px;
}

.signup-form .form-group {
	margin-bottom: 20px;
}

.signup-form label {
	font-weight: normal;
	font-size: 13px;
}

.signup-form .form-control {
	min-height: 38px;
	box-shadow: none !important;
	border-width: 0 0 1px 0;
}	

.signup-form .input-group-addon {
	max-width: 42px;
	text-align: center;
	background: none;
	border-bottom: 1px solid #e1e1e1;
	padding-left: 5px;
}

.signup-form .btn, .signup-form .btn:active {        
	font-size: 16px;
	font-weight: bold;
	background: #0088DD !important;
	border-radius: 3px;
	border: none;
	min-width: 140px;
}

.form-control:focus {
	background: #e2e2e2;
}

.signup-form .btn:hover, .signup-form .btn:focus {
	background: #165FC6 !important;
	box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

.signup-form a {
	color: #0088DD;
	text-decoration: none;
}	

.signup-form a:hover {
	text-decoration: underline;
}

.signup-form .fa {
	font-size: 21px;
	position: relative;
	top: 8px;
}

.signup-form .fa-paper-plane {
	font-size: 17px;
}

.signup-form .fa-check {
	color: #fff;
	left: 9px;
	top: 18px;
	font-size: 7px;
	position: absolute;
}

/* Login */
.psize{
	margin-left: 8px;
	background-color: #000000; 
	width: 12rem;
}
.fsize{
	background-color: #000000; 
	width: 9rem;
	margin-left: 9px ;
}
.apbs{
	font-size: .84rem;
}

.price{
	color: #000000
}

.cardsize{
	width: 12rem;
}
.column-other{
	margin-left: auto;
	margin-right: auto;
}

.form-data svg {
	position: relative;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

.shadow{
	background: #FFFFFF;
	box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25)
}
.formun, .pwform{
	border-width: 2px!important;
	border-radius: 4px!important;	
}

.loginbutton{
	background-color: #0088DD; 
	color: #FFFFFF;
	border: none;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 4px;
}

.signupbutton{
	background-color: #FFFFFF; 
	color: #000000;
	border-width: 2px!important;
	border-radius: 4px;
	border-color: #fff;
}

hr.hr-text 
{
	position: relative;
	border: none;
	height: 1px;
	background: #999;
}
  
hr.hr-text::before 
{
	content: attr(data-content);
	display: inline-block;
	background: #fff;
	font-weight: normal;
	font-size: 0.85rem;
	color: rgb(17, 17, 17);
	padding: 0.2rem 2rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.google
{
	margin-right: 10px;
}
